// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  black;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

h1.date {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
}
h2.time {
    font-size: 8em;
}
}
