<script type='text/javascript'>
$(function() {
    Dashing.widget_base_dimensions = [1900, 1050]
    Dashing.numColumns = 1 
    });
</script>
<% content_for :title do %>dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="slider" data-view="Image"></div>
    </li>
  </ul>

</div>
